@model Learning_site.Models.EnrolledCourse
@{
    ViewBag.Title = "EnrollInCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>EnrollInCourse</h2>



<h3>You have been Enrolled in the course</h3>

<li><a href="#">@Html.ActionLink("Back To Courses", "DisplayCourses", "student")</a></li>
